# Ignore environment variables
.env

# Ignore Flask session folder
/flask_session/

# Ignore __pycache__ folders
__pycache__/

# Ignore Python bytecode
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore IDE/editor-specific files
.vscode/
.idea/
